@font-face{
    font-family: hFont;
    src: url("fonts/Sequel.ttf");
}
@font-face{
    font-family: pFont;
    src: url("fonts/Oswald.ttf");
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("img/background.png");
    background-size: cover;
    font-family: pFont;
    cursor: default;
    margin: 0;
}
#main{
    background: radial-gradient(circle at 100% 100%, #f36b1ccc, #ff0166cc, #2d27fbcc, #2d27fbcc);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#heroR{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
img{
    transition-duration: 0.5s;
}
#slogan{
    color: white;
    height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    font-family: hFont;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2pt;
    transition-duration: 0.5s;
}
#agendaTitleR{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}
#agendaTitle{
    font-family: hFont;
    font-size: 30pt;
    color: white;
    transition-duration: 0.15s;
}
#agendaTitle:hover{
    border-bottom: 1px solid #5ffcad;
    border-top: 1px solid #5ffcad;
    padding: 20px 10px;
    color: #5ffcadb4;
}
#daysR{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
.day{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 300px;
    height: 254px;
    overflow: hidden;
    font-size: 20pt;
    color: white;
}
.day > .num{
    border-top: 2px solid white;
    font-family: hFont;
    font-weight: bold;
    letter-spacing: 2pt;
    padding: 10px 0px;
    transition-duration: 0.2s;
}
.day > .content{
    border-bottom: 2px solid white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    height: 0px;
    transition-duration: 0.2s;
}
.day > .content > div{
    font-weight: lighter;
    padding: 10px 0px;
    transition-duration: 0.2s;
}
.day > .content > div:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
#about{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 20pt;
}
article{
    width: 600px;
    height: 620px;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    align-items: flex-start;
}
article > .title{
    position: relative;
    font-family: hFont;
    font-weight: bolder;
    border-bottom: 2px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    color: white;
}
article > .content{
    height: 78px;
    font-size: 20pt;
    line-height: 40px;
    border-left: 2px solid white;
    overflow: hidden;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px #2d27fb60;
    background-color: #2d27fb60;
    transition-duration: 0.4s;
}
#contact{
    margin-top: 50px;
    background-color: #2d27fb60;
    padding: 30px 0px;
}
#detailsR{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.fa{
    border-radius: 10px;
    background-color: white;
    color: #2e27fbd8;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    width: 50px;
    padding: 10px 0px;
    font-size: 30px;
    transition-duration: 0.2s;
}
.fa-facebook:hover{
    background-color: #3b5999;
    color: white;
}
.fa-twitter:hover{
    background-color: #55acee;
    color: white;
}
.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}
.fa-youtube-play:hover{
    color: #cd201f;
}
.fa-linkedin:hover{
    background-color: #0077B5;
    color: white;
}
@media only screen and (min-width: 720px)
{
    #slogan{
        width: 0%;
        font-size: 30pt;
    }
    #slogan > span{
        font-size: 45pt;
    }
    #heroR:hover #logo{
        border-left: 3px solid white;
        padding-left: 50px;
    }
    #heroR:hover #slogan{
        width: 100%;
        margin-left: 50px;
        border-right: 3px solid white;
        padding-right: 50px;
    }
    .content:hover{
        height: 300px;
    }
    article > .title:hover + .content{
        height: 300px;
    }
}
@media only screen and (max-width: 720px)
{
    #heroR{
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #slogan{
        margin-top: 50px;
        font-size: 20pt;
    }
    #slogan > span{
        font-size: 30pt;
    }
    #slogan:hover{
        padding: 0px 20px;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
    article > .content:hover{
        height: 400px;
    }
    article > .title:hover + .content{
        height: 400px;
    }
}