@font-face {
  font-family: hFont;
  src: url("fonts/Sequel.ttf");
}
@font-face {
  font-family: pFont;
  src: url("fonts/Oswald.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("img/background.png");
  background-size: cover;
  font-family: pFont;
  cursor: default;
  margin: 0;
}
#main {
  background: radial-gradient(
    circle at 100% 100%,
    #f36b1ccc,
    #ff0166cc,
    #2d27fbcc,
    #2d27fbcc
  );
}
a {
  text-decoration: none;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: #277cfb8e;
}
#logo-image-c {
  display: inline-flex;
  height: 100px;
  align-items: center;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
  display: inline;
}
nav .links a {
  position: relative;
  display: block;
  padding: 1em;
  font-size: 16pt;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  /* border-bottom: 1px solid transparent; */
}
nav > .links > li > a > .flexBorder{
  position: absolute;
  height: 0px;
  width: 0%;
  left: 50%;
  bottom: 0;
  border-bottom: 2px solid transparent;
  transition-duration: 0.2s;
}
nav > .links > li > a:hover .flexBorder{
  left: 0%;
  width: 100%;
  border-bottom-color: #5ffce7;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
header {
  background-image: url("img/heroBackground.jpg");
  /* background-repeat: no-repeat; */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 50px;
  /* min-height: 100vh; */
  background-size: cover;
  box-shadow: 0px 10px 20px #022546;
}
#heroR {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#logo {
  transition-duration: 0.5s;
}
#slogan {
  color: white;
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  font-family: hFont;
  font-weight: bold;
  text-align: left;
  letter-spacing: 2pt;
  transition-duration: 0.5s;
}
#registerR {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#register {
  padding: 0px;
  border: none;
  background-color: transparent;
  outline: none;
  transition-duration: 0.2s;
}
#register > span {
  position: relative;
  font-weight: bold;
  font-family: hFont;
  font-size: 30pt;
  letter-spacing: 2pt;
  color: white;
  transition-duration: 0.2s;
}
#agenda {
  /* min-height: 100vh; */
  padding-top: 100px;
}
#agendaTitleR {
  display: flex;
  /* margin-top: 50px; */
  justify-content: center;
  align-items: center;
  height: 150px;
}
#agendaTitle {
  font-family: hFont;
  font-size: 30pt;
  color: white;
  transition-duration: 0.15s;
}
#agendaTitle:hover {
  border-bottom: 1px solid #5ffce7;
  border-top: 1px solid #5ffce7;
  padding: 20px 10px;
  color: #5ffce7b4;
}
#daysR {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  height: max-content;
}
.day {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow: hidden;
  font-size: 20pt;
  height: 1000px;
  color: white;
}
.day > .num {
  border-top: 2px solid white;
  font-family: hFont;
  font-weight: bold;
  letter-spacing: 5pt;
  font-size: 30pt;
  padding: 10px 0px;
  transition-duration: 0.2s;
}
.day > .content {
  border-bottom: 2px solid white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow: hidden;
  /* height: 0%; */
  transition-duration: 0.4s;
}
.day > .content > .activity {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  font-weight: lighter;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  padding: 10px 0px;
  transition-duration: 0.2s;
}
.day > .content > .activity > .time {
  color: #f8fc02;
}
.day > .content > .activity:hover {
  /* color: black; */
  border-right-color: #5ffce7;
  border-left-color: #5ffce7;
  background-color: #2e27fb8c;
}
#aboutC{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  padding-top: 150px;
  /* min-height: 100vh; */
}
#about{
  width: 80%;
  /* margin-top: 50px; */
  /* margin: 10px; */
  display: flex;
  flex-flow: column nowrap;
  color: white;
  align-items: flex-start;
}
#about > .title {
  position: relative;
  font-family: hFont;
  font-weight: bolder;
  /* border-bottom: 2px solid white; */
  /* padding-top: 20px; */
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
}
#about > .title > .flexBorder {
  position: absolute;
  bottom: 0px;
  right: -2px;
  height: 0px;
  width: 0%;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition-duration: 0.4s;
}
#about > .content {
  /* max-height: 78px; */
  position: relative;
  font-size: 20pt;
  line-height: 40px;
  border-left: 2px solid white;
  /* border-bottom: 2px solid white; */
  /* overflow: hidden; */
  padding: 10px 10px;
  transition-duration: 0.4s;
}
#about > .content > .flexBorder {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  border-bottom: 2px solid transparent;
  transition-duration: 0.6s;
}
#faqC {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e227fb60; */
  font-size: 20pt;
  padding-top: 150px;
  /* min-height: 100vh; */
}
#faq {
  width: 80%;
  /* margin-top: 50px; */
  /* margin: 10px; */
  display: flex;
  flex-flow: column nowrap;
  color: white;
  align-items: flex-start;
}
#faq > .title {
  position: relative;
  font-family: hFont;
  font-weight: bolder;
  /* border-bottom: 2px solid white; */
  /* padding-top: 20px; */
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
}
#faq > .title > .flexBorder {
  position: absolute;
  bottom: 0px;
  right: -2px;
  height: 0px;
  width: 0%;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition-duration: 0.4s;
}
#faq > .content {
  /* max-height: 78px; */
  position: relative;
  font-size: 20pt;
  line-height: 40px;
  border-left: 2px solid white;
  /* border-bottom: 2px solid white; */
  /* overflow: hidden; */
  padding: 10px 10px;
  transition-duration: 0.4s;
}
#faq > .content > .flexBorder {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  border-bottom: 2px solid transparent;
  transition-duration: 0.6s;
}
#workshops {
  padding-top: 100px;
}
#workshopsTitleR {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
#workshopsTitle {
  font-size: 30pt;
  font-family: hFont;
  color: white;
  transition-duration: 0.2s;
}
#workshopsTitle:hover {
  border-bottom: 1px solid #5ffce7;
  border-top: 1px solid #5ffce7;
  padding: 20px 10px;
  color: #5ffce7b4;
}
#workshopsR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: max-content;
}
#workshopsR > #next,
#workshopsR > #pre {
  display: inline;
  position: relative;
  width: 50px;
}
#workshopsR > #next > button {
  left: 0px;
}
#workshopsR > #pre > button {
  right: 0px;
}
#workshopsR > #next > button,
#workshopsR > #pre > button {
  position: absolute;
  height: 100%;
  width: 40px;
  border: none;
  background-color: #ffffff1f;
  outline: none;
  font-size: 20pt;
  color: white;
  transition-duration: 0.2s;
}
#workshopsR > #next > button:hover,
#workshopsR > #pre > button:hover {
  background-color: #5ffce7;
  width: 50px;
  cursor: pointer;
}
.workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #2e27fb31;
  width: 400px;
  /* height: 600px; */
  border-top: 2px solid #5ffce7;
  border-bottom: 2px solid #5ffce7;
  transition-duration: 0.4s;
}
#init1,
#init2,
#init3 {
  /* height: 0px; */
  width: 0px;
  opacity: 0;
}
.workshop > .title {
  color: #5ffce7;
  border-bottom: 2px solid #5ffce7;
  padding: 10px 10px;
  font-size: 28pt;
  text-align: center;
  white-space: nowrap;
  /* font-family: hFont; */
}
.workshop > .content {
  color: white;
  font-size: 20pt;
  padding: 10px 0px;
  text-align: center;
  white-space: nowrap;
}
#workshopsTracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
#workshopsTracker > .miniBar {
  height: 5px;
  width: 30px;
  margin: 5px;
  background-color: #ffffff1f;
  transition-duration: 0.4s;
}
#contact {
  background-color: #2d27fb60;
  margin-top: 200px;
  padding: 30px 0px;
}
#detailsR {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.fa {
  border-radius: 10px;
  background-color: white;
  color: #2e27fbd8;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  width: 50px;
  padding: 10px 0px;
  font-size: 30px;
  transition-duration: 0.2s;
}
.fa-facebook:hover {
  background-color: #3b5999;
  color: white;
}
.fa-twitter:hover {
  background-color: #55acee;
  color: white;
}
.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
.fa-youtube-play:hover {
  color: #cd201f;
}
.fa-linkedin:hover {
  background-color: #0077b5;
  color: white;
}
@media only screen and (min-width: 720px) {
  #slogan {
    width: 0%;
    font-size: 30pt;
  }
  #slogan > span {
    font-size: 45pt;
  }
  #heroR:hover #logo {
    border-left: 3px solid white;
    padding-left: 50px;
  }
  #heroR:hover #slogan {
    width: 100%;
    margin-left: 50px;
    border-right: 3px solid white;
    padding-right: 50px;
  }
  #register:hover {
    border-top: 1px solid #5ffce7;
    border-bottom: 1px solid #5ffce7;
    /* background-color: #801af528; */
    padding: 20px 20px;
    padding-right: 130px;
    cursor: pointer;
  }
  #register:hover span {
    color: #5fddfc;
  }
  #register > span::after {
    position: absolute;
    content: "NOW";
    right: 0px;
    opacity: 0;
    color: #5fddfc;
    transition-duration: 0.4s;
  }
  #register:hover span::after {
    right: -110px;
    opacity: 1;
  }
  .day {
    width: 600px;
  }
}
@media only screen and (max-width: 720px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  #heroR {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #slogan {
    margin-top: 50px;
    font-size: 20pt;
  }
  #slogan > span {
    font-size: 30pt;
  }
  #slogan:hover {
    padding: 0px 30px;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  #register:hover {
    border-top: 1px solid #5ffce7;
    border-bottom: 1px solid #5ffce7;
    /* background-color: #801af528; */
    padding: 20px 20px;
    padding-bottom: 95px;
    cursor: pointer;
  }
  #register:hover span {
    color: #5fddfc;
  }
  #register > span::after {
    position: absolute;
    content: "\ANOW";
    top: 0px;
    left: 50px;
    opacity: 0;
    color: #5fddfc;
    transition-duration: 0.4s;
  }
  #register:hover span::after {
    top: 75px;
    opacity: 1;
  }
  .day {
    width: 100vw;
  }
}
